.header {
	position: fixed;
	top: 0;
	right: 0;
    left: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
	height: 70px;
	padding: 0 2rem;
	background-color: var(--dark-bg);
	z-index: 1;
}

.header-left {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-left__icon {
	padding: 0 1rem;
	color: var(--dark-color);
}

.header-center {
	flex: 1
}

.header-center__search {
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 0.5rem;
    background: var(--dark-hover);
    border-radius: 30px;
}

.header-center__search-icon {
	color: var(--dark-color);
	margin: 0 0.5rem;
}

.header-center__search-input {
	width: 100%;
}

.header-center__search-input input {
	border: none;
	background-color: transparent;
	color: white;
	width: 100%;
}

.header-center__search-input input:focus {
	outline: none;
	color: white;
}

.header-right {
	flex: 1;
}

.header-right__list {
	display: flex;
	align-items: center;
	justify-content: end;
}

.header-right__item {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	margin-left: 1rem;
	background-color: var(--dark-hover);
	color: var(--dark-color);
	border-radius: 50%;
	cursor: pointer;
}

.header-right__item .avatar {
	width: 100%;
	height: 100%;
}

.header-right__item .avatar img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.header-right__item-sub {
	position: absolute;
	top: calc(100% + 15px);
	right: 0;
	width: 240px;
	background-color: var(--dark-hover);
	border-radius: 10px;
	display: none;
}

.header-right__item-sub.active {
	display: block;
}

.header-right__item-sub-list {
	padding: 0.5rem 0;
	border-bottom: 1px solid var(--dark-grey-color);
}

.header-right__item-sub-list:last-child {
	border: none;
}

.header-right__item-sub-item {
	display: flex;
    padding: 10px 20px;
    cursor: pointer;
    color: var(--dark-grey-color);
}

.header-right__item-sub-item:hover {
	background-color: #3e3e3e;
	color: var(--dark-color);
}

.sub-item__icon {
	margin-right: 0.5rem;
}